@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,600i,700,700i,800&display=swap');

html,
body {
  color:#292929;
  margin:0px;
  padding:0px;
  background-color:#ffffff;
  line-height:24px;
  font-family:"Open Sans";
  font-size:14px;
}

.fleft{ float:left; }
.fright{ float:right; }
.clear{ clear:both; margin:0px; padding:0px; }

p,img,input,select,textarea{ margin:0px; padding:0px; border:0px; }

h1{ font-size:30px; color:#424242; line-height:32px; text-decoration:none; font-weight:normal; margin:0px; padding:0px; }

.clear{ clear:both; }
.fleft{ float:left; }
.fright{ float:right; }

*:before, *:after { box-sizing: border-box; }
a:focus { outline:none; outline-offset:inherit; }
a,a:hover {color:#292929; }

.white_btn, .white_btn:hover{ display: inline-block; padding: 7px 12px; color: #fff; font-size: 13px; line-height: 15px; text-decoration: none; text-transform:uppercase; border: 2px solid #fff; }

.page_txt{ color:#73706c; font-size:13px; font-family:"proxima_r"; line-height:18px; }

.padding1{ padding-top:15px; clear:both; }

.banner_img{ background-repeat: no-repeat; background-size:cover; background-position: center top; height: 557px;  }

header{ position: absolute; left: 0; top: 0; width: 100%; z-index: 5555; }
.navbar{ padding:0; position:static; }
.navbar-toggler-icon > span { width:100%; height:2px; background-color:#fff; display:block; margin-bottom:4px; margin-top:4px; }
.navbar .navbar-nav > .nav-item{ 
    padding-left: 10px;
    margin-right: 10px;
    border-left: 1px solid #98a5a9;
    margin-top: 5px;
    padding-top: 4px;
    padding-bottom: 5px;
 }
.navbar .navbar-nav > .nav-item:last-child{ margin-right: 0; }
.navbar .navbar-nav .nav-link{ color:#fff; font-family: "Oswald"; text-transform: uppercase; font-weight:400; font-size:18px; padding:0; }
.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:hover{ outline:0; }
.logo{ float:left; padding-top: 12px; padding-left: 45px; }
.logo_r{ float:right; }
.header_inner{ padding-left: 15px; padding-right: 15px; }
#home_banner h1{ text-align: right; color: #fff; font-size: 44px; line-height: 50px; font-family: "Oswald"; text-transform:uppercase; }
#home_banner p{ text-align: right; color: #fff; padding-top: 30px; }
.banner_content{ margin-top:57px; height:500px; display: table; width: 100%; margin-left: 68px; }
.banner_content_cell{ height:100%; display: table-cell; width: 100%; vertical-align: middle; }
.logo img{ width: 275px; }
.carousel-control-next, .carousel-control-prev { width: 75px; }
.carousel-control-next-icon, .carousel-control-prev-icon{ position: relative; width: 10px;  height: 15px; }
.carousel-control-next-icon:before, .carousel-control-prev-icon:before{  position: absolute; left:-10px; right:-10px; top:-10px; bottom:-10px; content: ""; border:1px solid #fff; }
.border_area{ border:1px solid #e4e4e4; padding: 10px; margin-top:12px; }

.about_sec{ text-align: center; }
.about_sec div{ padding-top: 10px; position: relative; }
.about_sec div:after{ position: absolute; width:100px; content: ""; border-top:1px dotted #cfcfcf; bottom: -25px; left: 0; right: 0; margin: auto; }
.about_sec div img { max-width: 100%; }
.about_sec p{ margin-top: 42px; padding-bottom: 30px; }
.featured_area{ position: relative; }
.featured_area h2{ position: absolute; top:-12px; left: 35px; font-size: 16px; font-family: "Oswald"; font-weight: 400; text-transform: uppercase; }
.feature_sec{ margin-left: -6px; margin-right:-6px; }
.feature_sec div[class^="col-"]{ padding-left: 6px; padding-right:6px; margin-top: 12px; }
.feature_sec div[class^="col-"] .inner{ position: relative;}
.feature_sec div[class^="col-"] .inner > img{ width: 100%; }
.feature_sec div[class^="col-"] .inner > div.overlay_w{ position: absolute; left: 6px; right:6px; top:6px; bottom: 6px; margin: auto; background-color: rgba(255,255,255,0.4); }
.feature_sec div[class^="col-"] .inner > div.inner_img{ position: absolute; left: 40px; right:40px; top:40px; bottom: 40px; margin: auto; background-repeat:no-repeat; background-position: center top; border:8px solid #fff; }
.feature_sec div[class^="col-"] .inner > div.inner_img:after{ position: absolute; left: 0px; right:0px; top:0px; bottom: 0px; margin: auto; background-color: rgba(0,0,0,0.5); content: ""; z-index: 1; }
.feature_sec div[class^="col-"] .inner > div.inner_img p{ color: #fff; font-size: 18px; font-family: "Oswald"; text-transform:uppercase; bottom: 12px; width: 100%; text-align: center; position: absolute; z-index: 2; }
.program_service{ margin-top:10px; background:url("images/program_service.jpg") no-repeat center center; background-size:cover; padding-top: 100px; padding-bottom: 80px; }
.program_service h1{ color: #fff; font-family: "Oswald"; font-size:40px; font-weight: 400; line-height: 50px; text-transform: uppercase; text-align: center; }
.program_service h2{ color: #fff; font-family: "Oswald"; font-size:16px; font-weight: 400; line-height: 22px; text-transform: uppercase; text-align: center; padding-top: 20px; }
.program_service p{ color: #fff; font-size:14px; font-weight: 400; line-height:24px; padding-left: 45px; padding-right: 45px; text-align: center; padding-top: 10px; }
.program_service div{ text-align: center; }
.feature_sec.news_sec div[class^="col-"] .inner > div.inner_img:after{ background-color: rgba(0,0,0,0); }
.news_event h1{ position: relative; font-size: 28px; font-family: "Oswald"; color:#292929; text-transform: uppercase; text-align: center; }
.news_event h1:after{ position: absolute; width:100px; content: ""; border-top:1px dotted #cfcfcf; bottom: -25px; left: 0; right: 0; margin: auto; }
.event_sec p{ font-size: 14px; color:#a8a8a8; margin-top: 30px; margin-bottom: 20px; }
.event_sec a{ background-color: #ededed; display: block; padding: 6px; text-align: center; }
.event_sec{ margin-top: 55px; }
.event_sec img{ width: 100%; }
.event_sec > div{ padding: 18px; padding-bottom: 0; background-color: #fafafa; }
.event_sec > div h2{ padding-top: 7px; font-size:22px; text-transform:uppercase; color: #5b5b5b; font-family: "Oswald"; font-weight: 200; }
.event_row{ margin-left: -9px; margin-right:-9px; }
.event_row div[class^="col-"]{ padding-left: 9px; padding-right:9px; }
.mt-60{ margin-top: 60px; }
footer{ }
.fot_top{ background: url("images/fot_bg.jpg") no-repeat left top; background-size:cover; padding-bottom: 40px; position: relative; }
.page_top_scroll{ position: absolute; right:20px; bottom: 20px; }
.fot_sec1{ margin-top: 45px; }
.fot_sec1 .inner{ padding-left: 45px; }
.fot_sec1 img{ max-width: 100%; }
.fot_sec1 ul{ margin: 0; padding: 0; margin-top: 15px; }
.fot_sec1 ul li{ list-style-type: none; color: #fff; text-decoration:none; font-size: 18px; margin-bottom: 5px; }
.fot_sec1 ul li a, .fot_sec1 ul li a:hover{ color: #fff; text-decoration:none; }
.fot_sec1 ul li i{ color:#2f4362; font-size:12px; }
.fot_sec1 ul li span{ display: inline-block; background-color: #fff; width: 18px; height: 18px; border-radius:100%; -moz-border-radius:100%; -webkit-border-radius:100%; -khtml-border-radius:100%; -o-border-radius:100%; text-align: center; line-height: 12px; }
.fot_sec1 h3{ color: #fff; font-family: "Oswald"; font-size: 16px; font-weight: 400; text-transform: uppercase; margin-top: 18px; }
.fot_newsletter input[type="text"]{ padding: 4px 10px; margin-top: 3px; width: 260px; background-color:transparent; border:2px solid #fff;color: #fff; font-family: "Oswald"; font-size: 16px; font-weight: 400; }
.fot_newsletter input[type="submit"]{ padding: 4px 22px; margin-top: 3px; text-transform: uppercase;margin-left: 5px; background-color:transparent; border:2px solid #fff;color: #fff; font-family: "Oswald"; font-size: 16px; font-weight: 400; }
.fot_social{ margin-top: 14px; }
.fot_social a{ margin-right: 12px; display: inline-block; background-color: #fff; width: 32px; height: 32px; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; -khtml-border-radius:8px; -o-border-radius:8px; text-align: center; line-height: 41px; }
.fot_social a i{ color:#2f4362; font-size:26px; }
.fot_sec2, .fot_sec3{ margin-top: 45px; }
.fot_sec2 h2, .fot_sec3 h2{ color: #fff; font-family: "Oswald"; font-size: 24px; font-weight: 400; text-transform: uppercase; }
.fot_sec2 ul{ margin: 0; padding: 0; }
.fot_sec2 ul li{ list-style-type: none; padding-top: 10px; }
.fot_sec2 ul li a{ color: #fff; font-size: 16px; text-decoration: none;  }
.fot_sec2 ul li a:hover{ color: #fff; text-decoration: none; }
.fot_sec2 .inner{ border-left:1px dotted #fff; border-right:1px dotted #fff; padding-left: 25px; padding-bottom: 5px; }
.fot_bot{ background-color: #fff6c0; padding: 0px 20px 8px 20px;  }
.fot_copy, .fot_btn{ padding-top: 8px; }
.fot_copy{ color: #15254a; font-size: 12px; font-family: "Oswald"; text-transform:uppercase; }
.fot_btn{  }
.fot_btn a { text-decoration:none; color: #15254a; font-size: 12px; font-family: "Oswald"; text-transform:uppercase; }
.fot_btn a:hover { text-decoration:underline; color: #15254a; }
#page_scroll_top{ cursor: pointer; }
.home_slider, #banner_scroll_top{ cursor: pointer; }
.banner_scroll_top{ position: absolute; bottom: 10px; left: 0; right: 0; margin: auto; text-align: center; }
.inner_page_bg{ background:url("images/inner_bg.jpg") no-repeat top center; background-size:100%; }

.listing_page{ padding-top: 150px; }
.inner_page_title h1{ font-size: 34px; color: #15254a; font-weight: 500; font-family: "Oswald"; }
.border_line{ border-top: 1px dotted #15254a; margin: 0; padding: 0; }
.navbar.black_menu .navbar-toggler-icon > span{ background-color: #15254a; }
.detail_blue_sec{ background-color: #15254a; padding: 0px 18px 18px 18px; }
.photo_gallery img{ width: 100%; }
.photo_gallery .row{ margin-left: -8px; margin-right: -8px; }
.photo_gallery .row > div[class^="col-"]{ padding-left: 8px; padding-right: 8px; margin-top: 18px; }
.detail_title h3{ font-family: "Oswald"; font-size: 30px; color: #15254a; font-weight: 500; padding-left:25px; }
.detail_title p{ font-family: "Oswald"; font-size: 26px; color: #15254a; font-weight: 200; padding-left:25px; }
.detail_top{ position: relative; margin-bottom: 85px; }
.detail_img{ position: absolute; left:40px; top:-15px; }
.detail_inner{ background-color: #15254a; min-height: 250px; margin-top:22px; }
.detail_img{ max-width: 45%; max-height: 118%; overflow: hidden; box-shadow:-2px 2px 10px rgba(0,0,0,0.9); }
.detail_img img{ max-width: 100%; }
.detail_title > div{ padding-left: 25px; color: #fff; font-size: 16px; padding-top: 15px; padding-bottom: 15px; }

@media screen and (min-width: 992px) {
.navbar.black_menu .navbar-nav .nav-link { color: #15254a; }
.navbar.black_menu .navbar-nav > .nav-item{ border-left: 1px solid #738297; }
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
  .navbar .navbar-nav .nav-link{ font-size: 14px; }
  #home_banner h1{ font-size: 34px; line-height: 40px; }
  .fot_newsletter input[type="text"]{ width: 200px; }
  .detail_img { max-width: 38%; }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .feature_sec div[class^="col-"] .inner > div.inner_img{ left: 30px; right:30px; top:30px; bottom: 30px; }
  .fot_newsletter input[type="text"]{ width: 130px; }
  .fot_newsletter input[type="submit"] { padding: 4px 12px; }
  .detail_img { max-width: 37%; }
}

@media screen and (max-width: 991px) {
  .logo_sec{ position:absolute; left:15px; top:10px; }
  .logo{ float:none; }
  .logo_r{ float:right; }
  .navbar-collapse{ position:absolute; left:15px; right:15px; background-color:#333333; top:68px; padding-top:10px; padding-bottom:10px; }
  .navbar-expand-md .navbar-nav .nav-link{ color:#fff; }
  .navbar-expand-md .navbar-nav > .nav-item{ padding-top:5px; padding-bottom:5px; }
  .container{ max-width: 100%; }
  .navbar-toggler{ margin-top: 22px; }
  
}

@media screen and (max-width: 767px) {
#home_banner h1{ text-align: center; }
#home_banner p{ text-align: center; }
.banner_content{ margin-left: 0px; padding-left: 55px; padding-right: 55px; }
.logo img { width: 200px; }
.logo { padding-top: 5px; padding-left: 20px; }
.about_sec div img { width: 285px; }
.feature_sec div[class^="col-"] .inner > div.inner_img{ background-size:100%; }
.fot_sec1 .inner, .fot_sec3 .inner{ padding-left: 25px; }
.fot_sec3{ margin-top: 25px; }
.fot_newsletter input[type="text"]{ width: 130px; }
.inner_page_title{ margin-left: 15px; margin-right: 15px; }
.detail_img{ position: static; margin-left:40px; margin-right:40px; top:0px; }
.detail_img{ max-width: inherit; max-height: inherit; text-align: center; }
.detail_title{ padding-bottom: 25px; }
.detail_title h3, .detail_title p{ padding-left: 0; }
.detail_title > div { padding-right: 25px; padding-top: 70px; }
.detail_inner{ margin-top: -42px; }
.detail_img{ box-shadow:none; }

}

@media screen and (max-width: 560px) {
  .fot_copy{ float: none; }
  .fot_btn{ float: none; padding-top: 0px; }
}  

img {
  vertical-align:top;
}

textarea{ resize:none; }
